.NavMainDiv {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-content: center;
  margin: auto;
  background: #DEE2E6;
  padding: 7px 10px;
}

.DoofSoft {
  font-size: 18px;
  font-style: 600;
  color: #212529;
  margin: 5px;
}
