.signUpMain{
  background: linear-gradient(rgba(157, 154, 255, 1), rgba(184, 156, 255, 1));
  height: 100vh
}

.superAdmin_signup_form {
    max-width: 529px;
    max-height: auto;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.innerContainer{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 100%;
    

  }

  .superAdmin_Signup_Form{
    width: 100%;
    max-width: 401px;
  }

  .formContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }